.background-po{
    background-color: rgb(247, 196, 255);
}
.center-text{
    text-align: center;
    color: rgb(132, 0, 255);
  }
div.img, .rounded-image {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 100%;
}
p.bio {
    text-align: center;
}
.footer {
    background-color: #ffadad;
    padding: 10px;
    text-align: right;
}
.center-head {
    text-align: center;
}
.Things1 {
    background-color: #ffadad;
    padding: 50px;
}
.Things2 {
    background-color: #ade1ff;
    padding: 50px;
}

